@media (min-width: 426px) and (max-width: 768px)
{
  #home-info .info-img {
      width: 50%;
      background: linear-gradient(rgba(16, 29, 44,0.3),rgba(16, 29, 44,0.83)) ,url('./intro.jpg') no-repeat;
      background-size: 100% 100%,cover;
      min-height: 100%;
  }
  
  #home-info .info-content{
      width: 50%;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      padding: 3rem 8rem;
  }
  
  #home-info .info-content h2{
      font-size: 7rem;
      line-height: 9rem;
  }

  .boxes{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.5rem;
  }
  
  .box{
      width: 100%;
      text-align: center;
  }
  
  .box h3{
      font-size: 4rem;
  }
}
